body {
  font-family: Arial, sans-serif;
}

#minhaCaixa {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin-top: 20px;
  background-color: white;
}

#minhaCaixa.hover {
  background-color: yellow;
}

#tecla-pressionada {
  color: blue;
  font-weight: bold;
}
